.button {
    font: inherit;
    border: 1px solid blue;
    background: blue;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover,
.button:active {
    background: blue;
    border-color: blue;
}

.button:focus {
    outline: none;
}